:root {
    --bottom-color: #ebbe00;
}

.main_container_newsletter {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    margin-top: 20px;
    background-color: var(--color-primary);
}

.main_container_newsletter::after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    content: "";
    background-color: #ffffff;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

.main_container_newsletter_image {
    width: 20%;
    padding: 20px;
    margin: 20px;
}

.main_container_newsletter_data {
    display: flex;
    flex-direction: column;
}

.main_container_newsletter_data h3 {
    margin: 0;
    font-family: var(--font-family-heading);
    font-size: 28px;
}

.main_container_newsletter_data span {
    font-family: var(--font-family);
    font-size: 16px;
}

.main_container_newsletter_input_container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.main_container_newsletter_input_container input {
    width: 250px;
    height: 40px;
    padding: 10px;
    border: 0px;
    border-radius: 10px 0 0 10px;
    outline: none;
}

.main_container_newsletter_input_container input:focus {
    border: 2px solid #aaaaaa;
}

.main_container_newsletter_input_container button {
    display: flex;
    align-items: center;
    width: 120px;
    height: 40px;
    color: #ffffff;
    background: var(--color-secondary);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    border: 0px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    padding: 4px 16px;
}

.nav_bar_bottom_container {
    display: flex;
    justify-content: center;
    padding: 0 50px 50px;
    background: var(--color-primary);
}

.nav_bar_bottom_list {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.nav_bar_bottom_list span {
    margin-top: 20px;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: underline;
    margin-bottom: 8px;
}

.nav_bar_bottom_list h4 {
    align-items: center;
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 8px;
    font-family: var(--font-family-heading);
    font-size: 14px;
    font-family: 700;
}

.nav_bar_bottom_list a {
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.nav_bar_bottom_list a:hover {
    text-decoration: underline;
}

.ports_container {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0;
    background-color: var(--bottom-color);
}

.ports_container_list {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.ports_container_list a {
    color: #000000;
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 2rem;
    text-decoration: none;
}

.ports_container_list a:hover {
    color: var(--color-secondary);
    text-decoration: underline;
}

.bottom_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 30px;
    background: var(--bottom-color);
}

.bottom_footer_left {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    font-family: var(--font-family-heading);
    font-size: 12px;
    font-weight: 700;
}

.bottom_footer_left_policy {
    margin-left: 50px;
}

.bottom_footer_left_policy a {
    color: #000000;
    text-decoration: none;
}

.bottom_footer_left_policy a:hover {
    text-decoration: underline;
}

.bottom_footer_right {
    display: flex;
    align-items: center;
}

.bottom_footer_right_language {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.bottom_footer_right_language_text {
    margin-left: 6px;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 700;
    color: var(--color-secondary);
    text-decoration: underline;
}

.bottom_footer_right_social_media {
    padding: 8px 20px;
}

.bottom_footer_right_social_media a {
    text-decoration: none;
}