.navbar {
    background-color: #f2f2f2;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .logo {
    float: left;
}

.navbar a:hover {
    background-color: #ddd;
}

.navbar .options {
    float: left;
}

.navbar .login-signup {
    float: right;
}

.page_container {
    --layout-topbar: 56px;
    --layout-startbar: 200px;
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-height: 100vh
}

.nav_bar_bottom_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 50px 50px;
    background: #fbdc00;
}

.nav_bar_bottom_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.nav_bar_bottom_list_heading {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: underline;
    margin-bottom: 8px;
}

.nav_bar_bottom_list_heading_secondary {
    align-items: center;
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 8px;
}

.nav_bar_bottom_list_item {
    margin-top: 8px;
    font-weight: 400;
    color: #000000;
}

.ports_container {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0;
    background-color: #ebbe00;
}

.ports_container_list {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.ports_container_list_item {
    width: -moz-fit-content;
    width: fit-content;
    line-height: 2rem;
    color: #000000;
    text-decoration: none;
}

.bottom_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 30px;
    background: #ebbe00;
}

.bottom_footer_left {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 700;
}

.bottom_footer_left_policy {
    margin-left: 50px;
}

.bottom_footer_left_policy_item {
    color: #000000;
}

.bottom_footer_right {
    display: flex;
    align-items: center;
}

.bottom_footer_right_language {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border-radius: 8px;
}

.bottom_footer_right_language_text {
    margin-left: 6px;
    font-size: 15px;
    font-weight: 700;
    color: #ee3425;
    text-decoration: underline;
}

.bottom_footer_right_social_media {
    padding: 8px 20px;
}

.bottom_footer_right_social_media svg {
    color: #000000;
}